table {
  border-collapse: separate;
  border-spacing: 0.5rem;
}

td, th {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem;
}

/* Apply background only from second row onwards */
tr:nth-child(odd):not(:first-child) {
  background-color: #f2f2f2;
}

tr:nth-child(even):not(:first-child) {
  background-color: #ffffff;
}